name: test

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - main
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/test.yml'
      - '**.md'
    branches:
      - main

jobs:
  gotest:
    name: Format Check, Analysis and Test

    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run go mod tidy
        run: |
          go mod tidy
          git diff --exit-code

      - name: Run database
        run: |
          docker compose up -d db
          sleep 10

      - name: Run Test
        run: |
          make test
          git diff --exit-code
