name: test

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - main
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/test.yml'
      - '**.md'
    branches:
      - main

jobs:
  gotest:
    name: Format Check, Analysis and Test

    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run go mod tidy
        run: |
          go mod tidy
          git diff --exit-code

      - name: Run database
        run: |
          docker compose up -d db
          sleep 10

      - name: Run Test
        run: |
          make test
          git diff --exit-code
